/*
Layout Header
*/

@keyframes titleAnimation {
  25% {
    color: rgb(255, 255, 255);
  }
  75% {
    color: rgb(21, 37, 143);
  }
}

@keyframes postsAnimation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.headerWrapper {
  align-items: center;
  background-color: rgb(4, 109, 179);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.titleWrapper {
  animation: titleAnimation 10s infinite;
  color: rgb(0, 166, 255);
  font-family: var(--font-sour-gummy);
  font-size: 30px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.navWrapper ul {
  display: flex;
  font-size: 16px;
  gap: 20px;
  list-style: none;
}

.navWrapper li {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
}

.navWrapper li:hover {
  color: rgb(0, 234, 255);
  cursor: pointer;
  transform: scale(105%);
  transition: 0.2s;
}

.navWrapper button {
  background-color: rgb(4, 109, 179);
  border: 0;
  color: rgb(255, 255, 255);
  font-family: var(--font-prompt-black);
  font-size: 16px;
  transition: 0.2s;
}

.navWrapper button:hover {
  color: rgb(0, 234, 255);
  cursor: pointer;
  transition: 0.2s;
}

/*
Dashboard Page
*/

.dashboardWrapper {
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dashboardWrapper h1 {
  color: rgb(21, 37, 143);
  font-family: var(--font-sour-gummy);
  font-size: 50px;
  padding: 10px;
}

.dashboardWrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 0;
}

.dashboardWrapper h2 {
  font-family: var(--font-sour-gummy);
}

.postsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.post {
  animation: postsAnimation 1s 1;
  background-color: rgb(2, 81, 133);
  border-radius: 20px;
  color: white;
  padding: 10px;
  width: 80%;
}

.dashboardWrapper footer {
  align-items: center;
  background-color: rgb(4, 109, 179);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
